---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const posts = await getCollection("writeup");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>Writeups</h1>
            <ul>
                {
                    posts.map((entry) => (
                        <li>
                            <a href={`/blog/writeups/${entry.slug}`}>
                                {entry.data.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </main>
        <Footer />
    </body>
</html>
