@font-face {
  font-family: "Fira Code";
  src: url("/fonts/firacode-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px !important;
  line-height: 1.7;
  @apply text-neutral-100 bg-neutral-900 !important;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

h6 {
  @apply text-lg font-bold;
}

code {
  @apply py-[2px] px-[4px] rounded-sm;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

main {
  @apply container mx-auto max-w-5xl py-12;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

p {
  @apply mb-4;
}

.prose {
  @apply max-w-none text-neutral-300;
}

.prose p {
  @apply text-xl mb-8;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-neutral-300;
}

.prose a {
  @apply text-blue-600 hover:text-blue-800;
}

.date {
  @apply mt-4;
}

img {
  @apply max-w-full;
}

nav h2 {
  @apply text-2xl;
}

nav * {
  @apply text-neutral-300 hover:text-neutral-400;
}

.internal-links {
  @apply space-x-4;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
} */
