---
import PageLayout from "../layouts/PageLayout.astro";

interface Props {
    title: string;
    description: string;
    image?: string;
}

let loading = false;
---

<PageLayout title="Contact Me" description="Send me an email!">
    <div class="grid place-items-center mx-auto">
        <!-- <div class="mb-4 w-full">
            {#if showAlert && form?.success}
                <DismissableAlert type="success" on:dismiss={handleDismiss} message="Message sent successfully! Thank you!" />
            {:else if showAlert && form?.message}
                <DismissableAlert type="error" on:dismiss={handleDismiss} message={form.message} />
            {/if}
        </div> -->

        <div class="bg-zinc-800 shadow-inner ring-0 rounded-md">
            <form
                method="POST"
                enctype="multipart/form-data"
                class="p-8 space-y-4"
            >
                <h1>Contact Me</h1>
                <p class="pb-4">Got something to say? Send an email!</p>
                <div class="form-control w-full">
                    <label class="label" for="name">
                        <span class="font-bold">Name</span>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Name"
                            required
                            aria-required="true"
                        />
                    </label>
                </div>
                <div class="form-control">
                    <label class="label" for="email">
                        <span class="font-bold">Email</span>
                    </label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        required
                        aria-required="true"
                    />
                </div>
                <div class="form-control">
                    <label class="label" for="subject">
                        <span class="font-bold">Subject</span>
                        <select
                            id="subject"
                            name="subject"
                            required
                            aria-required="true"
                        >
                            <option disabled selected>Choose a subject</option>
                            <option>Suggestion</option>
                            <option>Feedback</option>
                            <option>Issue/Bug</option>
                        </select>
                    </label>
                </div>
                <div class="form-control">
                    <label class="label" for="message">
                        <span class="label-text font-bold">Message</span>
                        <textarea
                            placeholder="Message"
                            name="message"
                            id="message"
                            required
                            aria-required="true"></textarea>
                    </label>
                </div>
                <div class="form-control pt-6">
                    <button type="submit" name="submit">
                        {!loading && <span>Send</span>}
                        <span
                            class="loading loading-spinner"
                            style="font-size: inherit;"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</PageLayout>

<style>
    input,
    select,
    textarea {
        @apply bg-zinc-900 p-2 rounded-sm w-full;
    }

    button {
        @apply p-2 rounded-sm text-neutral-200 bg-transparent border border-lime-400 hover:bg-lime-400 hover:text-zinc-900 hover:transition-all hover:duration-300 hover:ease-in-out w-full;
    }
</style>
